/* 
    Document   : main
    Created on : 11-Sep-2012, 1:14:46 AM
    Author     : bob
    Description:
        Purpose of the stylesheet follows.
*/
.outer{
    margin: auto; /* center in viewport */
    width: 960px;
    background: -moz-linear-gradient(#FFFFFF, #F4F4F4) repeat scroll 0 0 transparent;
    border-color: #FFFFFF;
    padding: 0 20px;
}
div.siteHeader {
    background: -moz-linear-gradient(#2D2D2D, #333333) repeat scroll 0 0 transparent;
    background-color: #2D2D2D;
    border-bottom: thin solid;
    border-color: #EEEEEE;
    border-bottom-width: 2px;
    min-width: 980px;
    opacity: 1;
    height: 26px;
}
span.menuItem{
    color:#DDDDDD;
    font-size: 20px;
    font-weight: bold;
    width: 10%;  
    text-shadow: grey -1px -1px 0.5em;
}
span.menuItem:hover,span.menuItem:active {color:white;}
a.noUnderlineNoColor{  
    text-decoration:none;
    color:inherit;
}
s:a.noUnderlineNoColor{  
    text-decoration:none;
    color:inherit;
}
h1{
    color: #495961;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 28px;
    margin: 0 0 10px;
    z-index: 0;
}
h2{
    color: #495961;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 18px;
    margin: 0 0 10px;
    z-index: 0;
}
h3{
    color: #495961;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 13px;
    z-index: 0;
}
div.groupBox{
    border-color: #000000;
    border-radius: 10px 10px 10px 10px;
    background: -moz-linear-gradient(#EAF5FA, #C5E8F1) repeat scroll 0 0 transparent;
    border: 1px solid transparent;
    width: 400px;
    height: 200px;
    padding: 20px; 
}
p.siteFooter {
    text-align: center; 
    border-top: thin solid #777777; 
    color: #777777;
}
root { 
    display: block;
}
a.group:link { color: #000000; text-decoration: none}
a.group:visited { color: #000000; text-decoration: none}
a.group:hover { color: #0000FF; text-decoration: none}
a.group:active { color: #000000; text-decoration: none}