/* 
    Document   : paging-table
    Created on : 27-Jan-2013, 10:26:16 PM
    Author     : ken
    Description:
        Purpose of the stylesheet follows.
*/
table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
}

td,th
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    border-style: solid;
}
#dialog-edit, #dialog-add{
    background: white;
}

.hidden{
    visibility: hidden;
    display: none;
}



/*dialog box properties*/
.ui-widget-overlay { 
    background: #000000/*{bgColorOverlay}*/; 
    opacity: .3;
    filter:Alpha(Opacity=30)/*{opacityOverlay}*/; 
}
.ui-dialog .ui-dialog-buttonpane {
    background: white;
    border-width: 0px 0 0;
    margin: 0em 0 0;
    padding: 0em 0em 0em 0em;
    text-align: left;
}
.ui-dialog {
    padding: 0em;
}
/*fixes font issues with header bar in pop up dialog box*/
.ui-dialog-titlebar{
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 18px;
    padding: 0px;
    z-index: 0;
    color: white;
}
/*fix css in dialog box button*/
.ui-state-default {
    background: white;
    border: 1px solid #CCCCCC;
    color: #1C94C4;
    font-weight: bold;
}

